/**
 * @name Lunar-Suite
 * @author Yearn
 * @version 1.1.0
 * @authorId 1347115338088841226
 * @description Built By Lunar Suite for you
 * @source none
*/
/* 
 hope you love it
*/

@import url("https://raw.githubusercontent.com/Vinkzzz/Lunartheme/refs/heads/main/main.css");

/*
:root {
  --background: url("");
  --font:                       "Inter";
  --transparencyalpha:          0.7;
  --transparencycolor:			    0,0,0;
	--messagetransparency:			  0;
	--guildchanneltransparency:		0;
	--chatinputtransparency:		  0;
	--memberlisttransparency:		  0.3;
	--accentcolor:					      144,0,32,0.6;
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ff4f75;
  --channels-default:           #ff90a2;
  --header-secondary:           #ff90a2;
  --interactive-normal:         #ff90a2;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #fff2;
}
*/
