@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://raw.githubusercontent.com/Vinkzzz/Lunartheme/refs/heads/main/RadialGlow.css");
@import url("https://discordstyles.github.io/SoftX/VerticalUserArea.css"); 
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css");

:root {
  --background: url("https://i.pinimg.com/736x/2a/5c/44/2a5c448b3c902bb6a2985a48484c9170.jpg");
  --font:                       "Inter";
  --transparencyalpha:          0.7;
  --transparencycolor:			    0,0,0;
	--messagetransparency:			  0;
	--guildchanneltransparency:		0;
	--chatinputtransparency:		  0;
	--memberlisttransparency:		  0.3;
	--accentcolor:					      212, 175, 55, 0.4
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ff4f75;
  --channels-default:           #ff90a2;
  --header-secondary:           #ff90a2;
  --interactive-normal:         #ff90a2;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #fff2;
}
